/*--------------------------------------------------------------------------------------------------------------------*/

.container {

    max-width: 95%;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.image-reference > img {

    max-width: 550px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.classifier {

    margin-left: 0.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.py.class,
.py.method,
.py.function {

    border: 2px solid hsl(var(--border));

    border-radius: 0.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.py.class > dt,
.py.method > dt,
.py.function > dt {

    background-color: hsl(var(--accent));

    border-top-left-radius: 0.33rem;
    border-top-right-radius: 0.33rem;

    border-top: 0px solid hsl(var(--border));
    border-bottom: 2px solid hsl(var(--border));

    padding: 0.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.py.class > dd,
.py.method > dd,
.py.function > dd {

    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#content h1 {

    margin-top: 1.0rem;
    margin-bottom: 0.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/
