/*--------------------------------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5 {
    margin: 0.25em 0 0.25em 0 !important;
    text-align: left !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

p {
    margin: 0.25em 0 0.25em 0 !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

div.sphinxsidebar a {
    border: none !important;
}

div.sphinxsidebar a:hover {
    background: none !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

table.autosummary {
    display: none !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.logo-container img {
    margin: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
