/*--------------------------------------------------------------------------------------------------------------------*/

.container {

    max-width: 95% !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/

span.classifier {

    margin-left: 0.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.py.class,
.py.method,
.py.function {

    border: 2px solid #EEEEEE;

    border-radius: 0.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.py.class > dt,
.py.method > dt,
.py.function > dt {

    background-color: #F8F9FA;

    border-top-left-radius: 0.33rem;
    border-top-right-radius: 0.33rem;

    border-top: none;
    border-bottom: 2px solid #EEEEEE;

    padding: 0.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.py.class > dd,
.py.method > dd,
.py.function > dd {

    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*--------------------------------------------------------------------------------------------------------------------*/
